#gmenu_title {
	color: #85888D;
	font-size: 13px;
}

#gmenu_button a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
}

#gmenu_button a:active {
  color: #FFFFFF;
}

#gmenu_button a {
	font-size: 13px;
	text-decoration: none;
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	margin-left: -10px;
	margin-right: -10px;
	display: block;
}

.gmenu_barray {
	margin-top: 25px;
}

.hidden-menu {
  margin-top: 20px;
  display: block;
  position: fixed;
  list-style:none;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  width: 250px;
  background-color: #1D1F20;
  height: 100%;
  top: 0;
  left: -250px;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.hidden-menu-ticker {
  display: none;
}
.btn-menu {
  color: #fff;
  background-color: #666;
  padding: 5px;
  position: fixed;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 25px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.btn-menu span {
  display: block;
  height: 5px;
  background-color: #fff;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu {
  left: 207px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -10px;
}