
#login_button_align {
	text-align: right;
}

.l_button {
  margin: .2em;
  padding: 0.2em;
  cursor: pointer;
  background: #919191;
  text-decoration: none;
  color: #ffffff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#login_button {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#login_button:hover, #login_button:focus, #login_button:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  outline: none;
}