
body {
	margin: 0;
	font-family: Verdana;
	font-size: 12px;
	background: #FBFCF6;
}

a {
	color: #646464;
}

a:hover {
	color: #323232;
}

a:active {
	color: #323264;
}

.left {
	display: block;
	text-align: left;
}

.right {
	display: block;
	text-align: right;
}

.center {
	display: block;
	text-align: center;
}


/* GLIDEMENU-STYLE */


#gmenu_title {
	color: #85888D;
	font-size: 13px;
}

#gmenu_button a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
}

#gmenu_button a:active {
  color: #FFFFFF;
}

#gmenu_button a {
	font-size: 13px;
	text-decoration: none;
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	margin-left: -10px;
	margin-right: -10px;
	display: block;
}

.gmenu_barray {
	margin-top: 25px;
}

.hidden-menu {
  margin-top: 20px;
  display: block;
  position: fixed;
  list-style:none;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  width: 250px;
  background-color: #1D1F20;
  height: 100%;
  top: 0;
  left: -250px;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.hidden-menu-ticker {
  display: none;
}
.btn-menu {
  color: #fff;
  background-color: #666;
  padding: 5px;
  position: fixed;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 25px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.btn-menu span {
  display: block;
  height: 5px;
  background-color: #fff;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu {
  left: 207px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -10px;
}


/* LOGINTAB-STYLE */


#loginwindow {
	width:285px;
	height:220px;
}

#loginwindow div.close {
	top:0;
	right:0;
}

#loginwindow h2 {
	background-position:6px center;
	background-repeat:no-repeat;
	padding:10px 0 10px 0;
	margin-top:-30px;
}

#reg_href {
	text-align: center;
	padding-top: 40px;
}

#reg_href a{
	font-size: 13px;
    color: #DCDCDC;
    text-decoration: none;
}

#reg_href a:hover {
	color: #ECECEC;
}

div.overlay {
	color: black;
	background-image:url(../images/logintab/white.png);
	width:600px;
	height:470px;
	display:none;
	padding:55px;
}
div.overlay div.close {
	background-image:url(../images/logintab/close.png);
	position:absolute;
	right:5px;
	top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}

.login input[type=text], .login input[type=password] {
	width: 278px;
}

#lemenu_input input {
	font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
	font-size: 14px;
}

#lmenu_input input[type=text], #lmenu_input input[type=password] {
	margin: 5px;
	padding: 0 10px;
	width: 250px;
	height: 34px;
	color: #404040;
	background: white;
	border: 1px solid;
	border-color: #c4c4c4 #d1d1d1 #d4d4d4;
	border-radius: 2px;
	outline: 5px solid #eff4f7;
	-moz-outline-radius: 3px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
#lmenu_input input[type=text]:focus, #lmenu_input input[type=password]:focus {
	border-color: #7dc9e2;
	outline-color: #dceefc;
	outline-offset: 0;
}

#lmenu_input input[type=submit] {
	padding: 0 18px;
	height: 29px;
	font-size: 12px;
	font-weight: bold;
	color: #527881;
	text-shadow: 0 1px #e3f1f1;
	background: #cde5ef;
	border: 1px solid;
	border-color: #b4ccce #b3c0c8 #9eb9c2;
	border-radius: 16px;
	outline: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
	background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
	background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
	background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
	-webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
}
#lmenu_input input[type=submit]:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
}

#lmenu_input input[type=submit]:active {
	background: #cde5ef;
	border-color: #9eb9c2 #b3c0c8 #b4ccce;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

#login_button {
	display: inline-block;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	margin: .2em;
	padding: 0.2em;
	cursor: pointer;
	background: #919191;
	text-decoration: none;
	color: #ffffff;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#login_button:hover, #login_button:focus, #login_button:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  outline: none;
}

/* 404-STYLE */

#title_404 {
	font-family: 'Comic Sans MS';
}

#text_404 {
	font-family: 'Trebuchet MS',Helvetica;
	font-size: 1.2em;
}